{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2>About</h2>
            <hr class="divisor">
            </p>
        </div>
    </div>
    <div class="row">
        <p>Tiago Barata started his journey back in 2012 when he decided to go on a backpacking trip to India. His goal was to
            discover more about the world and about himself. This first trip was 2 years long with a lot of ups and downs but at the end 
            everything was a lesson for him.
            After coming back, not feeling that he had taken enough from his first trip, he decided to go back to India. This second trip
            provided different experiences as he was already comfortable with the ins and outs of living in India. He started learning how to make
            craft jewelry out of the available materials around him. It all start as a way to spend time and to keep his mind challenged during the covid pandemic
            but it quickly became more than that. Has he, and the people around him, noticed that his skills were improving everyday he decided to take it serious.
            Made several trips around India searching for the best and most beautiful stones he could find and met smiths who taught him how to works certain materials
            like bronze.  
        </p>
    </div>
</div>
{% endblock %}