
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="IndexDiv">
    <img src="././media/index_image_cropped.jpg" class="w-100" id="indexImage" alt="Dragon Necklace">
    <h4 id="IndexTitle">Welcome to</h4>
    <h4 id="IndexTitle1">peacefulmind.art</h4>
    <button type="button" id="shopNowBtn" class="btn btn-primary button-glow">Shop Now</button>
</div>

{% endblock %}