
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="IndexDiv">
    <img src="././media/index_image_cropped.jpg" id="indexImage" alt="Dragon Necklace">
    <img src="././media/smallscreen-index.jpg" id="smallIndex" alt="Dragon Necklace">
    <h1 id="IndexTitle">peacefulmind.art</h1>
    <h2 id="IndexTitle1">Jewelry made with a mind <br> filled with peace and love. <br> Checkout the available collection.</h2>
    <a id="shopNowBtn" class="btn button-glow" href="{% url 'products' %}">Shop Now</a>
</div>
{% endblock %}