{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <h2>Custom Order</h2>
            <hr class="divisor">
            <p class="mt-3">If you are interested in having a piece custom made according to your desires please fill the form.
            </p>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'custom_orders' %}" method=POST>
            {% csrf_token %}
            {{ customOrder | crispy }}
            <div class="float-end mt-4 mb-4 btnCenter">
                <a class="btn keepShopping" href="{% url 'home' %}">Back</a>
                <button class="btn checkoutBtn" type="submit">Submit Order</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}