{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col mt-3">
            <h2>Custom Order Details</h2>
            <hr class="divisor">
        </div>
        </div>
        <div class="row mt-4">
            <div class="col-8 orderDetails offset-2">
                <div class="order-confirmation-wrapper">
                    <div class="row">
                        <div class="col mb-2">
                            <small class="text-muted"><u>Custom Order Date:</u></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-2 mt-3">
                            <small class="text-muted"><u>Delivering To:</u></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Client Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.town_or_city }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.postcode }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Email</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.email }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-2 mt-3">
                            <small class="text-muted"><u>Custom Order Info</u></small>
                        </div>
                    </div>
                    
                    {% if custom_order.material %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Material</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.material }}</p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if custom_order.color %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Color</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.color }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Jewel Type</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.jewel_type }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Additional Notes</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p class="mb-0">{{ custom_order.notes }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
             <div class="text-center">
                <a class="btn keepShopping" href="{% url 'pending_orders' %}">Back to other orders</a>
                <a class="btn checkoutBtn" href="{% url 'custom_order_completed' custom_order.id  %}">Done</a>
            </div>
        </div>
    </div>
{% endblock %}