{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2>Are you sure you want to delete it?</h2>
            <hr class="divisor">
        </div>
    </div>
    <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 mt-2 mb-4">
                <div class="card h-100 communityCard">
                    <h2 class="cardTitle">{{ card.name }}</h2>
                    <div class="card-body pb-0">
                        <p>{{ card.description }}</p>
                    </div>
                    <div class="card-footer text-left">
                        <div class="col">
                            <a class="websiteLink" href="{{ card.website }}" target=_blank>{{ card.website }}</a>
                            <h6>{{ card.email }}</h6>
                        </div>
                        <hr>
                        <div class="col text-center mt-1 mb-1">
                            <a class="deleteCard" href="{% url 'delete_card' card.card_number %}">
                                <span class="spanCommunity">Yes</span>
                            </a>
                            <a class="deleteCard ms-2" href="{% url 'community' %}">
                                <span class="spanCommunity">No</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}