@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
    height: 100%;
}

/*---------------Header---------------*/

#topnav {
    background-color: #855e42;
}

.logo-font {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 3rem;
}

#searchBar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searchBtn {
    background-color: white;
    border-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.white {
    color: white;
}

.headerIcon:hover {
    box-shadow: 0px 1px 0px #df9b6a;
}

.mobileIcon {
    padding-right: 8px;
    padding-left: 8px;
}

/*---------------NavBar---------------*/
.navbar {
    color: white;
    background-color: #855e42;
    padding: 0;
}

.nav-item {
    padding-right: 60px;
    padding-left: 60px;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f7bf98;
}

.navbar {
    padding: 8px;
}

.dropdown-menu {
    color: white;
    background-color: #855e42;
}

.dropdown-item {
    color: white;
}

/* Bellow effect was sourced from https://ianlunn.github.io/Hover/ */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #df9b6a;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/*---------------Index---------------*/

.header-container {
    padding-top: 137px;
}

#IndexDiv {
    height: 100vh;
    position: relative;
}

#indexImage {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

#IndexTitle {
    position: absolute;
    top: 100px;
    left: 55px;
    font-family: 'Amatic SC', cursive;
    color: #493323;
    font-size: 9rem;
    text-shadow: 12px 12px 12px #cacaca
}

#IndexTitle1 {
    position: absolute;
    top: 500px;
    left: 55px;
    font-family: 'Amatic SC', cursive;
    color: #493323;
    font-size: 5rem;
    text-shadow: 12px 12px 12px #cacaca;
}

#shopNowBtn {
    position: absolute;
    top: 180px;
    right: 75px;
    width: 350px;
    height: 80px;
    background-color: #e3d5dc;
    line-height: 60px;
    font-size: 2rem;
    color: #493323;
    border: 3px solid #bfa08b;
}


@keyframes glowing {
  0% { box-shadow: 0 0 -30px #ffffff; }
  40% { box-shadow: 0 0 50px #ffffff; }
  60% { box-shadow: 0 0 50px #ffffff; }
  100% { box-shadow: 0 0 -30px #ffffff; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}

@media screen and (min-width: 321px) and (max-width: 425px) {

.header-container {
    padding-top: 80px;
}

#IndexDiv {
    background-color: #bfa08b;
    width: 100vw;
    height: 100vh;
}

#IndexTitle {
    font-size: 3rem;
    top: 500px;
    left: 0px;
    margin: 25px;
}

#IndexTitle1 {
    font-size: 2rem;
    top: 600px;
    left: 0px;
    margin: 25px;
}

#shopNowBtn {
    top: 760px;
    left: 0px;
    margin: 25px;
    width: 150px;
    height: 50px;
    line-height: 25px;
    font-size: 1rem;
}

#indexImage {
    display: none;
}

#smallIndex {
    opacity: 0.7;
}

}

@media screen and (min-width: 426px) and (max-width: 768px) {

.header-container {
    padding-top: 64px;
}

#smallIndex {
    display: none;
}

#IndexTitle {
    font-size: 4rem;
    top: 120px;
    left: 45px;
}

#IndexTitle1 {
    font-size: 2rem;
    top: 670px;
}

#shopNowBtn {
    width: 150px;
    height: 50px;
    line-height: 25px;
    font-size: 1rem;
    top: 200px;
    right: 65px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

.header-container {
    padding-top: 137px;
}

#smallIndex {
    display: none;
}

#IndexTitle {
    font-size: 6rem;
    top: 120px;
    left: 45px;
}

#IndexTitle1 {
    font-size: 3rem;
    top: 670px;
}

#shopNowBtn {
    width: 250px;
    height: 75px;
    line-height: 55px;
    font-size: 1,5rem;
    top: 200px;
    right: 65px;
}

#user-options {
    padding: 4px 8px 4px 8px;
}

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

#IndexTitle {
    font-size: 7rem;
}

#smallIndex {
    display: none;
}

#IndexTitle1 {
    font-size: 3rem;
}
 
}

@media screen and (min-width: 1441px) {

#smallIndex {
    display: none;
}

}

/*---------------Message Containers---------------*/

.message-container {
    position: fixed;
    top: 140px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.closeBtn {
    position: absolute;
    right: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 1.25rem;
    color: #855e42;
}

/*---------------Footer---------------*/

footer {
    background-color: #855e42;
    height: auto;
    width: 100vw;
}

#footerTitle {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

#links {
    height: 100%;
    display: inline-block;
}

.footerLink {
    color: white;
}

.footerLink:hover {
    color: white;
    box-shadow: 0px 1px 0px #df9b6a;
}

#copyright {
    color: rgb(175, 175, 175);
    padding: 15px;
}

/*---------------Products---------------*/

.divisor {
    margin: auto;
}

.productImage {
    margin-top: 12px;
}

.productName {
    color: #855e42;
}

.productPrice {
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 2rem;
}

.productDescription {
    color: gray;
}

.CategoryName {
    color: gray;
    font-size: 0.75rem;
}

#categoryIndicator {
    font-size: 1rem;
    background-color: #855e42;
}

/*---------------Product Details---------------*/

.keepShopping {
    width: 250px;
    height: 40px;
    background-color: #e3d5dc;
    line-height: 20px;
    font-size: 1rem;
    color: #493323;
    border: 3px solid #bfa08b;
}

#addToBag {
    width: 250px;
    height: 40px;
    background-color: #bfa08b;
    line-height: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #493323;
    border: 3px solid #855e42;
}

/*---------------Shopping Bag---------------*/

.bagProduct {
    max-height: 50px;
    align-items: center;
}

.productThumbnail {
    padding-right: 15px;
    width: 100px;
}

.bagList .bagItems:hover {
    background-color: #ffe3d08f;
} 

.grandTotal {
    padding: 10px;
    color: #f9f7f5;
    background-color: #855e42;
}

.checktouBtn {
    width: 250px;
    height: 40px;
    background-color: #bfa08b;
    line-height: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #493323;
    border: 3px solid #855e42;
}

.removeBtn {
    color: #f9f7f5;
    background-color: red;
    padding: 7px;
    border: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.removeBtn:hover {
    cursor: pointer;
    background-color: rgb(214, 0, 0);
    color: #f9f7f5;
}

/*---------------Checkout---------------*/

.checkoutDivisor {
    color: #855e42;;
}

.checkoutBold {
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
}

.form-check {
    padding-left: 0px;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

.form-check-input {
    display: inline;
    padding-left: 14px;
}

.form-check-input:checked {
    background-color: #493323;
    border-color: #493323;
}

.form-check-input:focus {
    border-color: #855e42;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(133 94 66 / 25%);
}



/*---------------Stripe Elements---------------*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/*---------------Order Details---------------*/

.orderDetails {
    border: 2px solid #bfa08b;
}

.orderDetailsTotals {
    font-weight: bold;
}
