@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
    height: 100%;
}

/*---------------Header---------------*/

#topnav {
    background-color: #855e42;
}

.logo-font {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 3rem;
}

#searchBar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searchBtn {
    background-color: white;
    border-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.white {
    color: white;
}

.headerIcon:hover {
    box-shadow: 0px 1px 0px #df9b6a;
}

.mobileIcon {
    padding-right: 8px;
    padding-left: 8px;
}

/*---------------NavBar---------------*/
.navbar {
    color: white;
    background-color: #855e42;
    padding: 0;
}

.nav-item {
    padding-right: 60px;
    padding-left: 60px;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f7bf98;
}

.navbar {
    padding: 8px;
}

.dropdown-menu {
    color: white;
    background-color: #855e42;
}

.dropdown-item {
    color: white;
}

/* Bellow effect was sourced from https://ianlunn.github.io/Hover/ */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #df9b6a;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/*---------------Index---------------*/

.header-container {
    padding-top: 137px;
}

#IndexDiv {
    height: 100vh;
    position: relative;
}

#indexImage {
    height: 100%;
    opacity: 0.7;
    position: absolute;
}

#IndexTitle {
    position: absolute;
    top: 100px;
    left: 125px;
    font-family: 'Amatic SC', cursive;
    color: #493323;
    font-size: 10rem;
    text-shadow: 12px 12px 12px #cacaca
}

#IndexTitle1 {
    position: absolute;
    top: 550px;
    left: 55px;
    font-family: 'Amatic SC', cursive;
    color: #493323;
    font-size: 9rem;
    text-shadow: 12px 12px 12px #cacaca;
}

#shopNowBtn {
    position: absolute;
    top: 180px;
    left: 1400px;
    width: 350px;
    height: 80px;
    background-color: rgba(255, 255, 0, 0.795);
    border: none;
    line-height: 40px;
    font-size: 2rem;
    color: #493323;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -30px #ffffff; }
  40% { box-shadow: 0 0 50px #ffffff; }
  60% { box-shadow: 0 0 50px #ffffff; }
  100% { box-shadow: 0 0 -30px #ffffff; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}

/*---------------Footer---------------*/
