<ul class="list-inline list-unstyled text-center text-lg-right my-0 d-block d-lg-none">
    <li class="list-inline-item dropdown">
        <a class="nav-link mobileIcon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <div class="text-center">
                <div><i class="white fas fa-user fa-lg"></i></div>
                <p class="my-0 white">My Account</p>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
            <li><a href="{% url 'pending_orders' %}" class="dropdown-item">Custom Orders</a></li>
            {% endif %}
            <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
            {% endif %}
        </ul>
    </li>
    <li class="list-inline-item">
        <a class="nav-link mobileIcon" href="{% url 'community' %}">
            <div class="text-center headerIcon">
                <div><i class="white fas fa-users fa-lg"></i></div>
                <p class="my-0 white">Community</p>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
            <div class="text-center">
                <div><i class="white fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0 white">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>