{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Products</h2>
            <hr class="w-50 divisor">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-4"></div>
            <div class="row mb-4">
                {% for product in products %}
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                            <a class="productImage" href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="productName mb-0"><strong>{{ product.name }}</strong></p>
                        </div>
                        <div class="card-footer bg-white border-0 text-left">
                            <div class="">
                                <div class="col">
                                    <p class="lead mb-0 text-left productPrice">€{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}